asn1crypto==0.24.0
braintree==3.54.0
certifi==2019.3.9
cffi==1.12.3
chardet==3.0.4
cryptography==2.7
Django==2.2
django-cors-headers==2.5.2
django-extensions==2.1.6
django-extra-fields==1.2.1
djangorestframework==3.9.2
djangorestframework-jwt==1.11.0
idna==2.8
Pillow==6.0.0
pycparser==2.19
PyJWT==1.7.1
PySocks==1.7.0
pytz==2019.1
requests==2.22.0
six==1.12.0
sqlparse==0.3.0
tinify==1.5.1
twilio==6.29.0
urllib3==1.25.3
